<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="r710_Fan_Control.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
    </startup>
    <userSettings>
        <r710_Fan_Control.Properties.Settings>
            <setting name="idracHostname" serializeAs="String">
                <value>192.168.0.4</value>
            </setting>
            <setting name="idracUsername" serializeAs="String">
                <value>root</value>
            </setting>
            <setting name="idracPassword" serializeAs="String">
                <value>calvin</value>
            </setting>
            <setting name="log" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="waitTime" serializeAs="String">
                <value>00:00:30</value>
            </setting>
        </r710_Fan_Control.Properties.Settings>
    </userSettings>
</configuration>
